<mat-toolbar color="primary" class="toolbar">
  <span>Хто Я?</span>
</mat-toolbar>

<main class="mat-app-background">

  <router-outlet></router-outlet>

<!--  <mat-tab-group class="nav-menu" color="primary" mat-stretch-tabs mat-align-tabs="center" headerPosition="below">-->
<!--    <mat-tab routerLink="/games">-->
<!--      <ng-template mat-tab-label>-->
<!--        <mat-icon class="icon-margin">sports_esports</mat-icon>-->
<!--        Игры-->
<!--      </ng-template>-->
<!--    </mat-tab>-->
<!--    <mat-tab>-->
<!--      <ng-template mat-tab-label>-->
<!--        <mat-icon class="icon-margin">person</mat-icon>-->
<!--        Профиль-->
<!--      </ng-template>-->
<!--    </mat-tab>-->
<!--  </mat-tab-group>-->
</main>



