<mat-list *ngIf="games$">
  <div mat-subheader class="game-list-header">
    <span>Игры</span>
    <button mat-icon-button color="primary" (click)="loadGameList()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let game of games$ | async">
    <div mat-line>{{game.name}}</div>
    <button [routerLink]="[game.id]" mat-button>Присоединиться</button>
  </mat-list-item>
</mat-list>

<button mat-fab color="primary" class="add-game-button" (click)="openCreateGameDialog()">
  <mat-icon>add</mat-icon>
</button>
